
</!DOCTYPE html>
<html>
<head>
	<title>Home</title>
</head>
<style>
.container{
    margin-left: 30%;
    margin-right: 30%;
    margin-top: 0%;
    background-color: blueviolet;
    padding: 5%;
    border: 2px solid blueviolet ;
    border-radius: 8px;
}
h1{
    text-align: center;  
    color: black;
}
*{
    box-sizing: border-box;
}
body{
    font-family: serif;
    font-size: medium;
    font-weight: 300;
    background-color:blanchedalmond;
}
</style>
<body>

<h1>welcome to home of mail server page</h1>
<a href="/form">form</a>
</body>
</html>